.signup_btn {
    // background-color: red;
    padding: 10px 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
}

p, h1{
    text-align: center;
}

p {
    font-size: 14px;
}

h1{
    padding-top: 70px;
}