.users {
  padding-top: 16px;
  padding-left: 216px;
  width: 100%;
  min-height: calc(100vh - 140px);

  table {
    border-collapse: collapse;

    tr:nth-child(even) {
      background-color: #ededed;
    }

    th {
      border-bottom: 1px solid gray;
      padding: 12px;
    }

    td {
      padding: 12px;
    }

    button {
      margin: 5px;
      padding: 10px;
      background-color: aqua;

      &:nth-child(1):hover {
        color: blue;
      }

      &:nth-child(2):hover {
        color: red;
      }
    }
  }
}
